* {
    margin: 0;
    padding: 0;
}

body {
    background: #006f84;
    padding-bottom: (150px);
    overflow-y: hidden;
    min-height: 100%;
    height: auto;
}

h1 {
    color: aliceblue;
    text-align: center;
}
/* footer */
footer { width: 100%; 
         height: 150px;   
         position: fixed; 
         box-sizing: border-box; 
         border-top: #253342; 
         color: aliceblue;
        transform: translateY(200px);
        }
         
#footer_box {  
             padding: 30px 10px 30px 30px; 
             box-sizing: border-box; 
             border-top: 2px solid #253342; 
             background-color: #253342;}