@charset "utf-8";

/* 초기화 */

*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family:  "맑은 고딕";
    color: #222328;
}

body{
    width: 1200px;
    background-color: #fff;
    font-size: 20px;
} 
a{
    text-decoration: none;
    display: block;
}

header{
    position: relative;
    margin-top: -60px;
    /* background: red; */
}

.top{
    width: 900px;
    height: 650px;
    margin-top: 100px;
    position: relative;
   
}

/* .title{
    width: 300px;
    height: 100px;
    text-align: center;
} */
.login_admin{
    display: block;
    margin-top: 100px;
    width: 400px;
    height: 100px;
    position: relative;
    left: 420px;
    top: 0px;
    margin-bottom: -50px;
    /* background: red; */
}
.login_admin > .login_menu{
    width: 100%;
    height: 80px;
    position: absolute;
    
}
.login_admin > .login_menu > li {
    width: 60px;
    height: 50px;
    display: inline-block;
    /* background: green; */
    
}

.login_admin > .login_menu > li > a {
    /* background: pink; */
    margin-right: 15px;
    
}
.login_admin > .login_menu > li > span:hover{
    color: #f00;
}
.login_admin > .login_menu > li > a >img{
    display: block;
    width: 30px;
    height: 30px;
    /* background: blue; */
    
}
.login_admin > .login_menu > li >span{
    /* background: red; */
    width: 50px;
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    top: 50px;
    display: block
    
    
}

.logo{
    position: absolute;
    height: 50px;
    width: 100px;
    /* margin-top: -100px; */
    /* margin-bottom: 30px; */
    top: 60px;
    left: -100px;
    /* background: blue; */
}
h1{
    text-align: center;
    color: #5bc376;
    font-weight: bold;
    font-family: "맑은 고딕";
}
.menu{
    position: absolute;
    top: 80px;
    width: 1000px;
    text-align: center;
    /* background: green; */
}

.navi > li{
    display: inline-block;
    width: 180px;
    height: 50px;
    /* background: pink; */
    margin-left: -30px;
}

.navi > li > a{
    height: 50px;
    width: 180px;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    color: greenyellow
}
.navi > li > a:hover{
    cursor: pointer;
    color: #f00;
}

.map_list ul{
    text-align: left;
    margin-left: 200px;
    margin-top: -200px
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.map_list ul li{
    font-size: 20px;
    font-weight: bold;
    font-family:  'Anton', sans-serif;
    top: -300px;

}

    
footer{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #5bc376;
     margin-top: 50px;
} 
.bdp{
    margin-left: 120px;
}